body {
    background-color: #323232;
    color: white;
}

.override {
    color: gold;
}

.reserved {
    color: orange;
}

.string {
    color: green;
}

.variable {
    color: #ac89e5;
}

.comment {
    color: gray;
}

.bloc {
    transition: transform .2s;
}

.bloc:hover {
    background-color: #0b2e13;
    transform: scale(1.05);
}
